.navbar{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.403);
}
.navbar-left h3 span{
    color: var(--orange);
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navbar-right .link-a{
    color: black;
}
.navbar-right .btn-a{
    color: white;
}

.navbar .menu-icon{
    cursor: pointer;
    display: none;
}

.side-menu{
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100vh;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: white;
    width: 80%;
}
.whatsapp-icon-box{
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: #25D366;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
}
.whatsapp-icon-box .whatsapp-icon{
    font-size: 30px;
}
@media screen and (max-width:750px) {
    .navbar-right{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
    }
}