.product-card{
    width: 350px;
    background-color: aliceblue;
    border-radius: 8px;
    min-height: 400px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    position: relative;
}
.product-card img{
    width: 250px;
}
.product-card p{
    font-size: 12px;
}
.product-card-row{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.product-card .btn-a{
    width: 90%;
}
.product-card .call-btn{
    background-color: rgb(15, 167, 227);
}
.product-card .whatsapp-btn{
    background-color: 	#25d366;
}